@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --red-hue: 345deg;
  --blue-hue: 230deg;
  --intense: 100%;
  --primary-red: hsl(var(--red-hue), var(--intense), 55%);
  --secondary-red: hsl(var(--red-hue), var(--intense), 58%);
  --red-btn: hsla(var(--red-hue), var(--intense), 55%, 0.9);
  --light-color: hsl(var(--blue-hue), 30%, 95%);
  --light-tr-color: hsla(var(--blue-hue), 30%, 95%, 0.48);
  --dark-blue-10: hsl(var(--blue-hue), 15%, 10%);
  --dark-blue-12: hsl(var(--blue-hue), 15%, 12%);
  --dark-blue-15: hsl(var(--blue-hue), 15%, 15%);
  --dark-blue-20: hsl(var(--blue-hue), 15%, 20%);
  --dark-blue-22-5: hsl(var(--blue-hue), 15%, 22.5%);
  --dark-blue-35: hsl(var(--blue-hue), 5%, 35%);
  --light-blue-50: hsla(var(--blue-hue), 15%, 50%, 0.5);
  --light-blue-80: hsl(var(--blue-hue), var(--intense), 80%);
  --light-blue-85: hsl(var(--blue-hue), var(--intense), 85%);
  --light-blue-90: hsl(var(--blue-hue), var(--intense), 90%);
  --light-blue-background: hsla(var(--blue-hue), var(--intense), 80%, 0.038);
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: var(--dark-blue-10);
  border-radius: 100vw;
  margin-block: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-blue-20);
  border: 0.2rem solid var(--dark-blue-10);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-blue-22-5);
}

::selection {
  background-color: var(--light-blue-50);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: clamp(0.7rem + 1vmin, 1.185rem, 1.1075rem);
  font-weight: 600;
  line-height: 1.5;
  background-color: var(--dark-blue-10);
  color: var(--light-color);
}

.full-screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a,
a:is(:link, :visited),
.nested-link {
  text-decoration: none;
  color: var(--light-blue-90);
}

:is(
    a:not(.main-navigation a, .resume-nav-list a, :has(.article-card)),
    .nested-link
  ):hover {
  text-decoration: underline;
  text-decoration-color: inherit;
  text-underline-offset: 0.5rem;
}

button,
.resume-nav-list a {
  margin-block: 0.75rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--red-btn);
  color: var(--light-color);
  border-radius: 0.5rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 200ms ease;
}

.menu-btn {
  background-color: transparent;
}

:is(button:not(.menu-btn), .resume-nav-list a):hover {
  background-color: var(--primary-red);
}

.resume-nav-list a:not(.active) {
  background-color: var(--light-blue-background);
  border-color: var(--light-tr-color);
}

.resume-nav-list a:not(.active):hover {
  border-color: var(--light-color);
}

h1:not(.logo, .article-heading) {
  font-size: 2.8rem;
}

h1:not(.logo) {
  margin-block: 3.5rem;
}

h1,
h2 {
  text-align: center;
  color: var(--primary-red);
}

h2 {
  margin-block: 2.5rem;
  font-size: 2.125rem;
}

h3 {
  font-size: 1.9rem;
}

h4 {
  font-size: 1.5rem;
  color: var(--light-blue-85);
}

h3,
h4 {
  margin-block: 2rem 1rem;
}

h3,
strong {
  color: var(--secondary-red);
}

.presentation * {
  text-align: left;
}

.presentation :is(h2, strong) {
  color: var(--light-color);
}

.presentation strong {
  border-bottom: 2px solid var(--light-color);
}

span {
  color: var(--light-blue-90);
}

h5,
h5 strong {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 400;
  color: var(--light-color);
}

h5 strong {
  border-bottom: 1px dotted var(--light-color);
}

span:not(.nested-link) {
  border-bottom: 1px dotted var(--light-blue-85);
}

p {
  padding: 0.75rem 1.5rem 0.75rem 0;
  line-height: 1.65;
  text-wrap: pretty;
}

.presentation p {
  padding-block: 0.5rem;
  font-size: 1.25rem;
  font-weight: 900;
}

img {
  display: block;
  margin-block: 0.75rem;
  border-radius: 0.75rem;
  object-fit: cover;
}

li {
  list-style-type: none;
}

.app-header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--dark-blue-15);
}

.main-navigation {
  position: relative;
  padding-inline: 1.75rem;
  box-shadow: 0 0.125rem 0.125rem var(--dark-blue-10);
  height: 5.15rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo img {
  display: inline-block;
  margin: 0 0.35rem 0 0;
  aspect-ratio: 4 / 3;
}

.logo a {
  text-transform: uppercase;
  color: var(--light-blue-80);
  transition: all 200ms ease;
}

.logo a:hover {
  color: var(--light-blue-85);
}

.desktop-nav-list li {
  display: inline-block;
}

.desktop-nav-list a {
  padding: 1.75rem;
  font-size: 1.35rem;
}

:is(.desktop-nav-list, .mobile-nav-list) a {
  color: var(--light-color);
  transition: all 200ms ease;
}

.desktop-nav-list a.active {
  background-color: var(--dark-blue-20);
}

.desktop-nav-list a:hover {
  background-color: var(--dark-blue-22-5);
}

.avatar {
  height: calc(250 / 16 * 1rem);
  aspect-ratio: 4 / 5;
  margin-inline: auto;
  border-radius: 50%;
  background: linear-gradient(
    to right,
    var(--light-tr-color),
    var(--light-color),
    var(--light-tr-color)
  );
}

.avatar + h1 {
  margin-block: 2rem;
}

.roles {
  color: var(--light-blue-85);
  font-size: 1.5rem;
}

main {
  padding: 8rem 2rem 0;
}

.container {
  margin: 3rem auto;
  padding: 2.5rem 1.75rem;
  border-radius: 0.75rem;
  border: 1px solid var(--dark-blue-35);
  background-color: var(--light-blue-background);
  overflow: clip;
}

.container,
.article-card {
  max-width: 52rem;
}

.article-card {
  margin: 2rem auto;
  padding: 0 1.75rem 1.75rem;
  border-radius: 0.75rem;
  border: 1px solid var(--light-tr-color);
  background-color: hsla(var(--blue-hue), var(--intense), 80%, 0.048);
  transition: all 350ms ease;
}

.article-card:hover {
  background-color: hsla(var(--blue-hue), var(--intense), 80%, 0.058);
}

.article-card > * {
  padding-block: 0.75rem;
}

.article-card h3 {
  border-radius: 0.5rem;
  background: linear-gradient(
    to right,
    var(--red-btn),
    var(--primary-red),
    var(--red-btn)
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: all 350ms ease;
  font-size: 1.5rem;
  text-wrap: balance;
}

.article-card h3:hover {
  padding-inline-start: 0.75rem;
  background-size: 100% 100%;
  color: var(--light-color);
}

.article-card-image-container {
  display: grid;
  place-content: center;
  width: 100%;
  height: 420px;
  padding: 0;
  border-radius: 0.75rem;
  border: 1px solid var(--light-tr-color);
  overflow: clip;
}

.article-card-image-container img {
  width: 100%;
  height: 420px;
  transition: all 350ms ease;
}

.article-card-image-container img:hover {
  scale: 1.05;
}

.article-heading {
  max-width: 32ch;
  margin-inline: auto;
  text-wrap: balance;
}

.article-metadata {
  padding-bottom: 1.75rem;
}

.resume-nav-list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1.25rem;
  border-top: 1px solid var(--dark-blue-35);
  border-bottom: 1px solid var(--dark-blue-35);
}

.article-body {
  padding-block: 2.5rem;
}

.image-150-container {
  overflow-x: clip;
}

.image-150 {
  margin-left: -25%;
}

.resume-navigation {
  position: sticky;
  top: 5.105rem;
  z-index: 3;
  margin-inline: -1.75rem;
  background-color: var(--dark-blue-12);
}

.resume-nav-list {
  padding: 2.25rem 1.75rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(calc(280 / 16 * 1rem), 100%), 1fr)
  );
  gap: 1rem;
}

.grid,
.presentation,
.skills,
.project,
.experience article,
.education article:not(:last-of-type) {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--dark-blue-35);
}

:is(.contact, .languages, .skills, .projects) ul {
  margin-inline: 1.5rem;
}

:is(.contact, .languages, .skills, .projects) li {
  list-style-type: disc;
  padding-block: 0.25rem;
  padding-inline-start: 0.5rem;
}

footer {
  margin-top: 7.5rem;
  padding-block: 0.75rem;
  background-color: var(--light-blue-background);
}

footer p {
  padding: 0.5rem;
  text-align: center;
}

footer img {
  display: inline-block;
  margin: 0;
}

.text-center {
  text-align: center;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-0.75rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 800px) {
  .main-navigation {
    justify-content: space-between;
  }

  .mobile-nav-list {
    position: absolute;
    top: 5.15rem;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: hsla(var(--blue-hue), 15%, 15%, 0.975);
  }

  .mobile-nav-list li {
    opacity: 0;
  }

  .mobile-nav-list li:hover {
    background-color: var(--light-blue-background);
  }

  .mobile-nav-list a {
    display: inline-block;
    width: 100%;
    padding-block: 1rem;
  }

  .slide-in-with-75-ms-delay {
    animation: slide-in 500ms ease 75ms forwards;
  }

  .slide-in-with-150-ms-delay {
    animation: slide-in 500ms ease 150ms forwards;
  }

  .slide-in-with-225-ms-delay {
    animation: slide-in 500ms ease 225ms forwards;
  }

  .slide-in-with-300-ms-delay {
    animation: slide-in 500ms ease 300ms forwards;
  }

  .slide-in-with-375-ms-delay {
    animation: slide-in 500ms ease 375ms forwards;
  }

  .slide-in-with-450-ms-delay {
    animation: slide-in 500ms ease 450ms forwards;
  }

  .mobile-nav-list > li:not(.nested-nav-link) {
    padding-inline-start: 1.75rem;
  }

  .mobile-nav-list a {
    font-size: 1.5rem;
  }

  .nested-nav-link {
    padding-inline-start: 3.5rem;
    display: list-item;
  }

  .nested-nav-link a {
    font-size: 1.25rem;
  }
}

@media (max-width: 720px) {
  .article-card-image-container,
  .article-card-image-container img {
    height: 320px;
  }

  .image-45,
  .image-50 {
    width: 65%;
  }

  .image-65 {
    width: 90%;
  }

  .image-75 {
    width: 100%;
  }

  .image-85,
  .image-95,
  .image-100 {
    width: 125%;
  }

  .image-85-container,
  .image-95-container,
  .image-100-container {
    overflow-x: scroll;
  }

  .image-150 {
    width: 210%;
    margin-left: -55%;
  }
}

@media (max-width: 600px) {
  h1:not(.logo) {
    font-size: 2.25rem;
  }

  h1.article-heading {
    font-size: 1.9rem;
  }

  h2,
  h2 a {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.65rem;
  }

  h4 {
    font-size: 1.35rem;
  }

  h5,
  .presentation p {
    font-size: 1.125rem;
  }

  .roles {
    font-size: 1.25rem;
  }

  p {
    padding: 0.75rem 0.75rem 0.75rem 0;
  }

  button,
  .resume-nav-list a {
    padding: 0.925rem;
    font-size: 0.925rem;
  }

  main,
  .article-card {
    padding-inline: 1rem;
  }

  .container {
    padding: 1rem;
  }

  .image-95,
  .image-100 {
    width: 150%;
  }

  footer p:first-of-type {
    display: none;
  }

  .contact {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--dark-blue-35);
  }
}

@media (max-width: 385px) {
  button,
  .resume-nav-list a {
    padding: 0.85rem;
    font-size: 0.85rem;
  }
}

